@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* accessibility  */
*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230,125,34, 0.5);
    border-radius: 9px;
    padding: 3px;
}
:root {
    /* colors  */
--primary: #e67e22;
--btn: #e67e22;
--subheading: #e67e22;
--btn-hover:#cf711f;
--span:#cf711f;
--nav-link-active:#cf711f;
--best-buy:#ffd43b;
--btn-outline:#555;
--step-number:#ddd;
--main-white:#fff;
--bg-tint:#fdf2e9;
--h1: #333;
--nav-links: #333;
--body-text: #555;
--h1-size: 5.2rem;
}
/* ---------------shared components  */
.heading-primary,
.heading-secondary,
.heading-tertiary {
    color: var(--h1);
    font-weight: 700;
    letter-spacing: -0.5px;

}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    font-family:"Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--body-text);
    overflow-x: hidden;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* fixed height for sticky nav later  */
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: var(--bg-tint);
    position: relative;
}
.logo {
    height: 2.2rem;
}
.main-nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
text-decoration: none;
font-size: 1.6rem;
color: var(--nav-links);
transition: all 0.3s;
font-weight: 300;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: var(--nav-link-active);
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    background-color: var(--btn);
    color: var(--main-white);
    border-radius: 9px;
    padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
background-color: var(--btn-hover);
}
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}
.icon-mobile-nav[name="close-outline"] {
    display: none;
}
/* **************************************  */
.section-hero {
    background-color: var(--bg-tint);
    padding:4.8rem 0 9.6rem 2rem;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
    gap: 9.6rem;
}
.heading-primary {
    font-size: var(--h1-size);
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}
.btn,
.btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    
}
.btn-full:link, .btn-full:visited {
    background-color: var(--btn);
    color: var(--main-white);
}
.btn-full:active, .btn-full:hover {
    background-color: var(--btn-hover);
    
}
.btn-outline:link, .btn-outline:visited {
    background-color: var(--main-white);
    color: var(--btn-outline);
}
.btn-outline:active, .btn-outline:hover {
    background-color: var(--bg-tint);
    box-shadow: inset 0 0 0 3px var(--main-white);
}
.hero-img {
    width: 100%;
}
.margin-right-sm {
    margin-right: 1.6rem;
}
.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs {
    display: flex;
}
.delivered-imgs img {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid var(--bg-tint);
}
.delivered-imgs img:last-child {
    margin: 0;
}
.delivered-text {
    font-size: 1.8rem;
    font-weight:600 ;
}
.delivered-text span {
    color: #cf711f;
}
/* ********************************  */
.section-featured {
    padding:4.8rem 0 2rem 0;
}
.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .75px;
    text-align: center;
    margin-bottom: 2.4rem;
}
.logos {
    display: flex;
    justify-content: space-around;
}
.logos img {
height: 3.2rem;
filter: brightness(0);
opacity: 50%;
}
/* ********************************  */
.section-how {
    padding: 9.6rem 0;
}
.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}
.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: .4rem;
    margin-bottom:9.6rem ;
    }
    .grid:last-child {
        margin-bottom: 0;
    }
.grid-center-vertical {
    align-items: center;
}
.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}
.step-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* These elements do not exist in the html file, add only in css  */
.step-img-box::before, 
.step-img-box::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.step-img-box::before {
    background-color: #fdf2e9;
    z-index: -2;
    padding-bottom: 60%;
    width: 60%;
    
}
.step-img-box::after {
    width:45%;
    padding-bottom: 45%;
    background-color:#fae5d3;
    z-index: -1;
}
.step-img {
    width: 35%;
}
.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}
.heading-tertiary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.subheading {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: var(--span) ;
    margin-bottom: 1.6rem;
    letter-spacing: .75px;
}
.step-number {
    font-size: 8.8rem;
    font-weight: 600;
    color: var(--step-number);
}
.step-description {
    font-size:1.8rem;
    line-height: 1.5;
}
/* ********************************  */
.section-meals {
    padding: 9.6rem 0;
}
.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.center-text {
    text-align: center;
    text-transform: capitalize;
}
.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0,0 ,0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all .4s;
}
.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 4.2rem 6.2rem rgba(0, 0,0 ,0.075);
}
.meal-img {
    width: 100%;
}
.meal-content {
    padding: 4.8rem;
}
.tag {
    /* inline block to apply padding  */
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--h1);
    border-radius: 100px;
    margin-bottom: 1.2rem;
    font-weight: 600;
}
.tag--vegetarian {
    background-color: #51cf66;
    
}
.tag--vegan {
    background-color:#94d82d;
    margin-right: 4px;
    
}
.tag--paleo {
    background-color: #ffd43b;
}
.meal-title {
    font-size: 2.4rem;
    color: var(--h1);
    font-weight: 600;
    margin-bottom: 3.2rem;
}
.meal-attributes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.meal-attribute {
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.meal-icon {
    color: var(--span);
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    
}
.list-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
}
.list-icon {
    width: 3rem;
    height: 3rem;
    color: var(--span);
}
.margin-bottom-md {
    margin-bottom: 4.8rem;
}
.all-recipes {
    text-align: center;
    margin-bottom: 3rem;
}
.link:link,
.link:visited {
    color: var(--btn);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all .3s ;
}
.link:hover,
.link:active {
    color: var(--nav-link-active);
    text-decoration: none;
}
/* ********************************  */
.section-testimonials {
    background-color: var(--bg-tint);
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}
.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    row-gap: 4.8rem;
    column-gap: 8rem;
}
.testimonials-container {
    padding: 9.6rem;
    
}
.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}
.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.6rem;
    padding: 1.6rem;
}
.gallery-item {
    overflow: hidden;
}
.gallery-item img {
    display: block;
    width: 100%;
    padding: 1rem 0;
    transition: all 1s ;
} 
.gallery-item img:hover {
    transform: scale(1.5);
}
/* ********************************  */
.section-pricing {
    padding: 9.6rem 0;
}
.pricing-plan {
    width: 75%;
    border-radius: 11px;
    padding: 4.8rem;
    margin: 2rem;
}
.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
}
.pricing-plan--full {
    background-color:#fdf2e9;
    position: relative;
    overflow: hidden;
}
.pricing-plan--full::after {
    content: 'best value';
    position: absolute;
    top: 5%;
    right: -18%;
    background-color: var(--best-buy);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: .8rem 8rem;
    transform: rotate(45deg);
}
.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .75;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}
.plan-price {
    font-size: 7.4rem;
    color: #333;
    margin-bottom:  1.6rem;
}
.plan-price span {
    font-size: 3rem;
    color:#e67e22;
    margin-right: .8rem;
}
.plan-text {
    font-size: 1.4rem;
    line-height: 1.6;
}
.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}
.not-available {
    text-decoration: line-through;
}
.plan-details {
    font-size: 1.5rem;
    text-align: center;
}
.feature-icon {
    color: #e67e22;
    margin-bottom: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--bg-tint);
    border-radius: 50%;
    padding: 1rem;
}
.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}
.feature-text {font-size: 1.8rem;
    line-height: 1.8;}
    /* ********************************  */
    .section-cta {
        padding: 9.6rem 0;
    }
    .cta {
        display: grid;
        grid-template-columns: 2fr 1fr;
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0,0,0.15);
        background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
        border-radius: 11px;
        overflow: hidden;
    }
    .cta-text-box {
        font-size: 1.8rem;
        padding: 6.4rem;
        color: #45260a;
    }
    .cta .heading-secondary {
        color: #45260a;
        margin-bottom: 3.2rem;
        text-align: center;
    }
    .cta-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 2rem;
    }
    .cta-img-box {
        background-image: linear-gradient(to right bottom, rgb(235, 152, 78, 0.35), rgb(230, 126, 34, 0.35)), url(../img/eating.jpg);
        background-size: cover;
        background-position: center;
    } 
    .cta-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.2rem;
        row-gap: 2.4rem;
    }
    .cta-form label {
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    .cta-form input,
    .cta-form select {
        width: 100%;
        padding: 1.2rem;
        font-size: 1.8rem;
        font-family: inherit;
        border: none;
        border-radius: 9px;
        background-color: var(--bg-tint);
        box-shadow: 0 1px 2px rgba(0, 0,0,0.1) ;
    }
    .cta-form input::placeholder {
        color: #aaa;
    }
    .btn--form {
        background-color: #45260a;
        color: #fdf2e9;
        padding: 1.2rem;
        align-self:end;
    }
    .btn--form:hover {
        background-color: var(--bg-tint);
        color: var(--btn-hover);
    }
    /* accessibility  */
    .cta *:focus {
        outline: none;
        box-shadow: 0 0 0 0.8rem rgba(253,242,233, 0.5);
    }
    /* ********************************  */

    .footer {
        padding: 9.6rem 0;
        border-top: 1px solid #f1e8e8 ;
    }
    .grid--footer {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    }
    .footer-nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
    .logo-col {
        display: flex;
        flex-direction: column;
        
    }
    .logo {
        display: block;
        margin-bottom: 3.2rem;
    }
    .social-links {
        display: flex;
        gap: 2.4rem;
        list-style: none;
    }
    .social-icon {
        height: 2.4rem;
        width: 2.4rem;
    }
    .copyright {
        font-size: 1.2rem;
        color: #767676;
        line-height: 1.6;
        margin-top: auto;
    }
    .footer-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 3.2rem;
    }
    .footer-link:link,
    .footer-link:visited {
        text-decoration: none;
        font-size: 1.6rem;
        color: #767676;
        transition: all0.3s;
    }
    .footer-link:hover,
    .footer-link:active {
        color: #555;
    }
    .contacts {
        font-style: normal;
        font-size: 1.6rem;
        line-height: 1.6;
    }
    address .address {
        margin-bottom: 3.2rem;
    }